{% extends 'paydesk/layout.html' %}

{% block body %}
<div class="container mt-5">
    <form method="post">
        <div class="my-card glass text-white mb-3 mx-auto mt-5 w-75">
            <div class="card-body fs-2">
            {% csrf_token %}
            {% for field in form %}
                <div class="mb-3 mt-2 d-flex align-items-center">
                    <div class="col-5">
                        <label for="{{ field.id_for_label }}" class="form-label">{{ field.label }}</label>
                    </div>
                    <div class="col-7">
                        {{ field }}
                        {{ field.errors }}
                    </div>
                </div>
            {% endfor %}
            </div>
        </div> 
        <div class="d-flex justify-content-center w-100">
            <button type="submit" class="my-btn glass glass-hover w-75 fs-2">Зберегти</button>
        </div>        
    </form>   
</div>
{% endblock %}